@using TrackerPortal.Model
@using TrackerPortal.Helper
@inject DialogService DialogBox

<RadzenTemplateForm TItem="EmailModel" Data=@EmailInfo Submit="SaveCustomerForAlert">
    <RadzenFieldset Text="Enter email">
        <div class="row mb-3">
            <div class="col-md-4" style="align-self: center;">
                <RadzenLabel Text="Email" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="Email" @bind-Value=@EmailInfo.EmailID Class="w-100" />
                <RadzenRequiredValidator Component="Email" Text="Email is required" />
                <RadzenEmailValidator Component="Email" Text="Invalid email address" />
            </div>
        </div>
        <div class="d-flex align-content-between">
            <RadzenButton class="mr-3" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small" ButtonType="ButtonType.Submit" Text="PROCEED"></RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small" Text="CANCEL" Click="CloseEmailDialog"></RadzenButton>
        </div>        
    </RadzenFieldset>
</RadzenTemplateForm>

@code {

    [Parameter]
    public Centers Center { get; set; }

    public EmailModel EmailInfo { get; set; } = new EmailModel();

    protected async Task SaveCustomerForAlert()
    {
        //save user in db

        //send a notification mail
    }
    protected async Task CloseEmailDialog()
    {
        DialogBox.Close();
    }
}
