@page "/"
@page "/findvaccinecenters"
@using TrackerPortal.Model
@using TrackerPortal.Helper

<div class="d-flex flex-column justify-content-around search-center-wrapper" style="height:70vh">
    <div class="align-self-center text-center search-header">
        <h1>Find vaccine centers</h1>
        <h2>Get a preview of Covid-19 vaccine centers and check availability</h2>
    </div>
    <div class="align-self-center" style="width:auto">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="By District">

                    <div class="dropdown-wrapper">
                        <div class="flex">
                            <RadzenDropDown Placeholder="Select State" AllowFiltering="true" Data=@StatesList TextProperty="StateName" ValueProperty="StateID" @bind-Value="SelectedState.StateID" Change="PopulateDistricts" />
                        </div>
                        <div>
                            <RadzenDropDown Placeholder="Select District" AllowFiltering="true" Data=@DistrictsList TextProperty="DistrictName" ValueProperty="DistrictID" @bind-Value="SelectedDistrict.DistrictID" />
                        </div>
                    </div>
                    <RadzenDatePicker Placeholder="Choose Appointment Date" TValue="DateTime" @bind-Value="SelectedDate" Style="width:100%" DateFormat="dd-MM-yyyy" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Search" Style="width:100%" Click="FetchCenters"></RadzenButton>
                </RadzenTabsItem>
                <RadzenTabsItem Text="By Pin">
                    <h4>This module is not developed yet.</h4>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
<div class="mt-4" style="font-size:1rem">
    <b style="color:red">Note:</b>
    <div class="extra-info">The details displayed here are provided the CoWIN</div>
    <div class="extra-info">We do not modify or change any data</div>
</div>


@code{
    public List<States> StatesList { get; set; } = new List<States>();

    public List<Districts> DistrictsList { get; set; } = new List<Districts>();

    public States SelectedState { get; set; } = new States();

    public Districts SelectedDistrict { get; set; } = new Districts();

    public DateTime SelectedDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        StatesList = await RestHelper.PopulateStates();
    }
    public async Task PopulateDistricts()
    {
        DistrictsList = await RestHelper.PopulateDistricts(SelectedState.StateID);
    }
    public async Task FetchCenters()
    {

    }
}

