@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="/#">Get Alerts</a>
            <a href="/#">Find Centers</a>
            <a href="https://selfregistration.cowin.gov.in/" target="_blank">Book your slot</a>
            <a href="https://selfregistration.cowin.gov.in/">User Guide</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
