*::-webkit-scrollbar {
    width: 12px;
}
a, .btn-link {
    color: #667591;
}
.rz-dropdown, .rz-dropdown:hover, .rz-dropdown:focus{
    border-radius: 0;
    border: none;
    font-size: 1.25rem;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1.5px solid var(--blue-primary);
    margin: 0.5rem;
}
    .rz-calendar .rz-inputtext {
        border: none;
        border-bottom: 1.5px solid var(--blue-primary) !important;
        border-radius: 0px;
        box-shadow: none !important;
        outline: none !important;
        font-size: 1.25rem;
    }

.rz-tabview-nav li a {
    font-size: 1.5rem;
}

.rz-button-md {
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0 2rem;
    height: 2.1875rem;
}

.search-center-wrapper {
    background-color: #e6ecef;
}

.search-center-page-footer {
    margin-top: 1rem;
    background-color: #485860;
}
.extra-info {
    color: #2f4f4fa6;
}
.search-header h1 {
    color: #667591;
}
.search-header h2 {
    color: #404e66;
}
.rz-button.btn-secondary{
    color:black;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    border: 1px solid var(--blue-primary);
    background-color: var(--color-white) !important;
    box-shadow: none !important;
    margin-top: 1rem;
}