@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Arial, Helvetica Neue', Helvetica, sans-serif;
}
*::-webkit-scrollbar {
    width: 12px;
}
a, .btn-link {
    color: #667591;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
@media (max-width: 768px) {
    .rz-dropdown {
        width: 100%;
    }
    .search-body {
        width: auto;
    }
    .center-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .center-details-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media (min-width: 768px) {
    .dropdown-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .search-body {
        width:fit-content;
    }
    .center-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .center-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
:root {
    --blue-primary: #133b63;
    --color-white: #fff;
}
.rz-dialog-wrapper {
    left: 0;
    animation: dialog_fade_up forwards 0.4s ease-in-out;
}
